body{
    background-color: #361500;
    color: #eeb257;
}
.navbar{
    background-color: #1C0A00;
    color: #eeb257;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.nav{
    background-color: #1C0A00;
    color: #eeb257;
    padding: 10px;
    margin: 0;
    list-style: none;
    text-align: center;
}

