@media screen and (max-width: 600px) {

    body{
        background-color: #361500;
        color: #eeb257;
        margin: 0px;
        font-family: 'Lora', serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Shantell Sans', cursive;
    }
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        background-color: #1C0A00;
    }
    
    .nav { float: left; }
    
    .nav a {
        /* display: block; */
        color: #eeb257;
        padding: 10px;
        text-decoration: none;
    }
    
    .nav a:hover {
        background-color: gray;
    }
    
    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .coffee{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    .pastry{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .smoothies{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    .menu-header{
        display: flex;
        justify-content: center;
    }
}
    
@media screen and (min-width: 601px) {
    
body{
    background-color: #361500;
    color: #eeb257;
    margin: 0px;
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;
}
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #1C0A00;
}

.nav { float: left; }

.nav a {
	/* display: block; */
	color: #eeb257;
	padding: 10px;
	text-decoration: none;
}

.nav a:hover {
	background-color: gray;
}


.home{
    display: grid;
    grid-template-columns: auto auto;
}

.right{
    display: flex;
    justify-content: end;
}

.left{
 margin-top: auto;
    margin-bottom: auto;    
}

.menu{
    display: grid;
    grid-template-columns: auto auto auto;
}

.coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.pastry{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smoothies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.menu-header{
    display: flex;
    justify-content: center;
}

}

.outside{
    max-width: 70%;
    height: auto;
}

.inside{
    max-width: 75%;
    height: auto;
}
